<div class="">
  <h1>
  {{title}}
  </h1>
  <div *ngIf="this.dataStoreService.data.length >= 1">
    <p-tree [value]="this.dataStoreService.data" [contextMenu]="cm" selectionMode="single" [(selection)]="selectedNode" draggableNodes="true" droppableNodes="true">
      <ng-template let-node pTemplate="level" droppableScope="level">
        <span data-type="level">{{node.label}} X
        </span>
      </ng-template>
      <ng-template let-node pTemplate="unit" draggableScope="level" droppableScope="unit">
        <span data-type="level">{{node.label}} Y
        </span>
      </ng-template>
      <ng-template let-node pTemplate="activity" draggableScope="unit">
        <span data-type="level">{{node.label}} Z
        </span>
      </ng-template>
    </p-tree>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>

  <button pButton type="button" label="Load" name="loadButton" id="loadButton" (click)="loadData()"></button>
  <br /><br />
  <p-messages [value]="msgs"></p-messages>
</div>
