<div class="">
  <h1>
  {{title}}
  </h1>
  <div *ngIf="this.dataStoreService.data[0].label">
    <p-tree [value]="this.dataStoreService.data" [contextMenu]="cm" selectionMode="single" [(selection)]="selectedNode">
      <ng-template let-node pTemplate="database">
        <span data-type="database">{{node.label}}
        </span>
      </ng-template>
      <ng-template let-node pTemplate="level">
        <span (dblclick)="onDoubleClick($event)" data-type="level">{{node.label}}
        </span>
      </ng-template>
      <ng-template let-node pTemplate="unit">
        <span (dblclick)="onDoubleClick($event)" data-type="level">{{node.label}}
        </span>
      </ng-template>
      <ng-template let-node pTemplate="activity">
        <span (dblclick)="onDoubleClick($event)" data-type="level">{{node.label}}
        </span>
      </ng-template>
    </p-tree>
    <p-contextMenu #cm [model]="items"></p-contextMenu>
  </div>
  <br>
  <button pButton type="button" label="Load" name="loadButton" id="loadButton" (click)="loadData()"></button>
  <hr>
  <detail-view *ngIf="editableNode" [node]="editableNode"></detail-view>
  <br><br>
  <p-messages [value]="msgs"></p-messages>
</div>
